<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Admin</span>
    <span class="example-spacer"></span>
    <div class="btns">
      <button mat-raised-button>
        <a routerLink="/customer-data"> Users</a></button
      ><button mat-raised-button>
        <a routerLink="/broadband-plans">Plans</a>
      </button>
      <button mat-raised-button>
        <a routerLink="/business-plans">Business Plans</a>
      </button>
    </div>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
<router-outlet></router-outlet>
