<!-- sidenav.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [opened]="opened" mode="over" class="sidenav">
    <mat-list>
      <mat-list-item><button>Users</button></mat-list-item>
      <mat-list-item><button>Plans</button></mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <p>Main Content</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
